@use "../../../../styles/breakpoints.scss" as *;

.projectCard {
  border: 2px solid var(--black);

  &:hover {
    color: var(--black);
  }

  .thumbnail {
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    padding: var(--spacing-20) 0;
    text-align: center;
    font-family: var(--font-space);

    h2 {
      font-size: var(--font-size-20);
      font-weight: 500;
      margin: 0;
    }

    span {
      opacity: 0.8;
      font-size: var(--font-size-16);
      font-weight: 400;
    }
  }

  @media (max-width: $laptop) {
    .thumbnail {
      height: 360px;
    }
  }

  @media (max-width: $mobile) {
    .thumbnail {
      height: 280px;
    }
  }
}
