.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-24);

  h2 {
    margin-bottom: var(--spacing-14);
    font-family: var(--font-poppins);
    font-size: var(--font-size-18);
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
  }

  div {
    display: flex;
    gap: var(--spacing-24);
  }

  img {
    width: 25px;
    height: 25px;
  }
}
